# Entorno virtual
.venv/

# Archivos de Python
__pycache__/
*.py[cod]
*.sqlite3

# Archivos de configuración o logs
*.log
.env

# Archivos de IDEs
.vscode/
.idea/

# Archivos del sistema
.DS_Store
Thumbs.db
