{% extends "base.html" %}

{% block content %}
<h1>Lista de Recetas</h1>
{% if user.is_authenticated %}
  <a href="{% url 'crear_receta' %}">Crear nueva receta</a>
{% endif %}
<ul>
    {% for receta in recetas %}
        <li>
            <h2><a href="{% url 'detalle_receta' receta.pk %}">{{ receta.titulo }}</a></h2>
            <p>{{ receta.descripcion }}</p>
            <p>{{ receta.ingredientes }}</p>
            <p>{{ receta.pasos }}</p>
            <img src="{{ receta.imagen.url }}" alt="{{ receta.titulo }}">
        </li>
    {% endfor %}
</ul>
{% endblock %}
